/* 背景のグラデーション */
body {
    background: linear-gradient(to bottom, #FFB6C1, #FF69B4);
}

/* ロゴ */
.login__title {
    font-size: 60px;
    font-weight: 400;
    color: #EC87EF;
    font-family: 'Lora', serif;
}

/* フォームのコンテナ */
.login__container {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login__submit {
    width: 60%;
    padding: 12px;
    background: linear-gradient(to right, #EC87EF, #FF69B4);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: 0 auto;
}

.login__submit:hover {
    background: linear-gradient(to right, #FF69B4, #EC87EF);
    transform: scale(1.01);
}

.login__register-link {
    display: inline-block;
    margin-top: 15px;
    color: #555;
    text-decoration: underline;
    font-size: 14px;
}

.login__register-link:hover {
    color: #EC87EF;
}